body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e5e7eb;
    font-family:Arial, sans-serif;
}

.calculator{
    background:#111827;
    padding:25px;
    border-radius:18px;
    box-shadow:0 0 18px rgba(0,0,0,0.4);
    text-align:center;
}

.calculator h2{
    color:white;
    margin:0;
}

.name{
    color:#cbd5e1;
    font-size:14px;
    margin-bottom:15px;
}

#display{
    width:285px;
    height:60px;
    font-size:26px;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:#f8fafc;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:55px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#f1f5f9;
}

button:hover{
    background:#dbeafe;
}

.operator{
    background:#2563eb;
    color:white;
}

.equal{
    background:#16a34a;
    color:white;
}

.clear{
    background:#dc2626;
    color:white;
}

.back{
    background:#f97316;
    color:white;
}

.zero{
    grid-column:span 2;
}
